- var menuNames = ['Cat1','Cat2','cat3'];

-header ={title: "Title", subtitle: "subtitle"};

- sampleScenarios = {};
- sampleScenarios['scenarioOne'] = {title: 'title of scenario one', subtitle: 'subtitle of scenario one',content:"text of scenario one"}
- sampleScenarios['scenarioTwo'] = {title: 'title of scenario Two', subtitle: 'subtitle of scenario Two', content:"text of scenario two"}
- sampleScenarios['scenarioThree'] = {title: 'title of scenario Three', subtitle: 'subtitle of scenario Three', content:"text of scenario three"}

- var categories = {};
- categories['categoryOne'] = ['html5','css','JavaScript'];
- categories['categoryTwo'] = ['angular','less','bootstrap','bower'];
- categories['categoryThree'] = ['yeoman','grunt'];
- categories['categoryFour'] = ['npm','polimer','web-components'];

- var sections = {};
- sections[0] = {title: 'first title', subtitle:'first subtitle', text:'subsections text'};
- sections[1] = {title: 'second title', subtitle:'second subtitle', text:'subsections text'};
- sections[2] = {title: 'third title', subtitle:'third subtitle', text:'subsections text'};


//resources
- var imagesFolder = 'images';
- var nonHoveredImages = 'normal';
- var hoveredImages = 'hovered';
- var nonHovered = imagesFolder + '/' + nonHoveredImages + '/';
- var hovered = imagesFolder + '/' + hoveredImages + '/';
- var extension = '.svg';
- var logoSrc = imagesFolder + '/cSvg/logo.svg';
//mechanics
- var propsNumber = Object.keys(categories).length
- var keys = Object.keys(categories)


doctype html
html( lang= "en")
 head
    meta(charset="utf-8")
    title Title
    link(rel='stylesheet', href='style.css', type="text/css")
    link(rel='stylesheet', href='css/bootstrap.css', type='text/css')
    link(rel="shortcut icon",href="images/cSvg/logo.svg")
    meta(name="viewport", content="width=device-width", initial-scale="1")
 body
    nav(role="navigation").navbar.navbar-default.navbar-fixed-top
        .navbar-header


            button(type="button",  data-toggle="collapse", data-target=".navbar-collapse").navbar-toggle
                    - for (var x = 0; x < 3; x++)
                        span.icon-bar
        .collapse.navbar-collapse.navbar-collapse
            ul.nav.navbar-nav
                - for(var i = 0; i< 3; i++)
                    li
                        a(href= '#' + menuNames[i]) #{menuNames[i]}
    header
        .container
            .logo
                .about
                    figure
                        img(src=logoSrc)
                    div.header-text
                        h1 #{header.title}
                        h2 #{header.subtitle}
    section(id = menuNames[0])
        .title.col-lg-12.col-md-12.col-sm-12.col-xs-12
            h1 #{sections[0].title}
            h2 #{sections[0].subtitle}
        .introduction
             p #{sections[0].text}
        .container
            - for (var x = 0; x < propsNumber; x++)
                div(class='technology-row')
                    h2 #{keys[x]}
                    div(class='row')
                        - for(var y = 0; y < categories[keys[x]].length; y++)
                            .col-md-3.col-xs-3
                                figure(class='ico-container')
                                    figcaption
                                        h3 #{categories[keys[x]][y].replace("-"," ")}
                                    img(src= nonHovered + categories[keys[x]][y] + extension )(class="technology-logo normal")
                                    img(src= hovered + categories[keys[x]][y] + extension )(class="technology-logo hovered")

    section(id = menuNames[1])(class='scenarios-section')
        .title.col-lg-12.col-md-12.col-sm-12.col-xs-12
            h1 #{sections[1].title}
            h2 #{sections[1].subtitle}

        .container
            .col-md-7.paper #{sections[1].text}
            .col-md-5.scenarios
                ul
                    li
                        img(src="images/normal/html5.svg" alt="..." class="img-circle")
                        div.titles
                            h3 #{sampleScenarios['scenarioOne'].title}
                            h4 #{sampleScenarios['scenarioOne'].subtitle}
                    li
                         img(src="images/normal/html5.svg" alt="..." class="img-circle")
                         div.titles
                            h3 #{sampleScenarios['scenarioTwo'].title}
                            h4 #{sampleScenarios['scenarioTwo'].subtitle}
                    li
                        img(src="images/normal/html5.svg" alt="..." class="img-circle")
                        div.titles
                            h3 #{sampleScenarios['scenarioThree'].title}
                            h4 #{sampleScenarios['scenarioThree'].subtitle}

     section(id = menuNames[2])
        .title.col-lg-12.col-md-12.col-sm-12.col-xs-12
            h1 #{sections[2].title}
            h2 #{sections[2].subtitle}
        div.container.contactBg
            form.contact
                    input(name="name", type="text", id="subject", placeholder="Name")
                    input(name="email", type="email", id="to", placeholder="E-mail")
                    textarea(name="message", id="content", cols="40", rows="5", placeholder="Message")
                  button#send_email Send email
                  span#message

 script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
 script(src="js/bootstrap.js")
 script(src="script.js")
 link(href="css/bootstrap.min.css" rel="stylesheet")
